@page "/deleteTask/{id}"
@using Todo.Blazor.Interfaces
@using Todo.Blazor.Models

@inject ITaskService TaskService 
@inject NavigationManager NavigationManager

<h2>Delete Task</h2>
<hr />
<h3>Are you sure want to delete this?</h3>

<form>
    <div class="row">
        <div class=" col-md-8">
            <div class="form-group">
                <label>Task Id: </label>
                <label>@obj.Id</label>
            </div>
            <div class="form-group">
                <label>Title: </label>
                <label>@obj.Title</label>
            </div>
            <div class="form-group">
                <label>description: </label>
                <label>@obj.Description</label>
            </div>
            <div class="form-group">
                <label>Due Date: </label>
                <label>@obj.DueDate</label>
            </div>
            <div class="form-group">
                <label>Priority: </label>
                <label>@obj.Priority</label>
            </div>
            <div class="form-group">
                <label>State: </label>
                <label>@obj.State</label>
            </div>
            <div class="form-group">
                <label>Notes: </label>
                <label>@obj.Notes</label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-danger del-btn" @onclick="@DeleteTaskClicked" value="Delete" />
                <input type="button" class="btn btn-primary del-btn" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

<style>
    .row{
        margin-left: 500px;
        width: 900px;
    }
    h3{
        margin-left: 500px;
        margin-top: 50px;
        font-family: 'Times New Roman';
        font-weight: bold;
        font-size: 35px;
        color:blueviolet;
    }
    .del-btn {
        width: 100px !important;
        margin-top: 15px !important;
        margin-right: 15px !important;
        margin-bottom: 50px;
    }
    label {
        font-size: 28px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>

@code {
    [Parameter]
    public string id { get; set; }
    TaskModel obj = new TaskModel();

    protected async void DeleteTaskClicked()
    {
        await TaskService.DeleteTask(Convert.ToInt32(id));
        NavigationManager.NavigateTo("TaskList");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("TaskList");
    }

    protected async override Task OnInitializedAsync()
    {
        obj = await TaskService.GetTaskById(Convert.ToInt32(id));
    }
}
